# Site settings
title: "C# Brasil"
description: "Unindo paixão e código | Blog sobre Tecnologias e Desenvolvimento"
url: "https://csharpbrasil.com.br"
author:
  name: "Raphael Cardoso"
  email: "csharpbrasil@outlook.com"
  url: "https://csharpbrasil.com.br"

# Jekyll SEO
social:
  name: C# Brasil
  links:
  - https://x.com/csharpbrasil
  - https://facebook.com/csharpbrasil
  - https://github.com/csharpbrasil

# Build settings
baseurl: / # Change this to your relative path (ex: /blog/), or leave just a /
markdown: kramdown
source: .
destination: ./_site
permalink: /:title

paginate: 20
paginate_path: "/page/:num/"

# Default values
defaults:
- scope:
    path: ""
    type: "posts"
  values:
    layout: "post"

markdown: kramdown
highlighter: rouge

kramdown:
  input: GFM
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    css_class: 'highlight'
    span:
      line_numbers: false
    block:
      line_numbers: true
      start_line: 1

exclude:
- README.md
- Gemfile
- Gemfile.lock

# Plugins
plugins:
- jekyll-paginate
- jekyll-seo-tag
- kramdown-syntax-coderay

# Custom variables
version: "1.2.0"
year: 2026
github: "csharpbrasil"
facebook: "csharpbrasil"
twitter: "csharpbrasil"
instagram: "csharpbrasil"
whatsapp: "CYW7HUiK70xAmPpFx9mVMR"
